<div
  class="card"
  style="width: 26rem"
  *ngIf="transaction"
  [ngClass]="{
    'bg-success': transaction.type == 'invoice',
    'bg-secondary': transaction.type == 'withdrawal'
  }"
>
  <div class="card-body">
    <h5 class="card-title">{{ transaction.business | uppercase }}</h5>
    <p class="card-text">{{ transaction.name }}</p>
    <p class="card-text">Account: {{ transaction.account }}</p>
    <p class="card-text">
      Date: {{ transaction.date * 1000 | date | uppercase }}
    </p>
    <p class="card-text">Type: {{ transaction.type }}</p>
    <p
      class="card-text"
      [ngClass]="{
        'bg-warning': transaction.amount > 700,
        bold: transaction.amount > 800
      }"
    >
      Amount: {{ transaction.amount | currency : "€" }}
    </p>
  </div>
</div>
